@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  min-height: 100vh;
  font-family: 'Segoe UI',sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
}

.title{
  padding: 2rem;
}

.hc-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  margin-left: 4rem;
}